<link media="all" type="text/css" rel="stylesheet" href="media/css/mui.min.css" />
<link media="all" type="text/css" rel="stylesheet" href="media/css/materialize.min.css" />
<link media="all" type="text/css" rel="stylesheet" href="media/css/google_material_icons.css" />
<link media="all" type="text/css" rel="stylesheet" href="media/css/style.css" />
<script src="media/js/jquery-2.1.4.min.js"></script>
<script src="media/js/mui.min.js"></script>
<script src="media/js/materialize.min.js"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->